html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  /* line-height: 1.5rem;
  margin-top: 35%;
  padding: 0; */
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
    url("../images/header2.jpg");

  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  padding: 4rem;
  justify-content: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 45rem;
  background-position: center;
}
/* header + .indexcard {
  padding-top: 102px;
} */
h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  margin-inline-start: 2rem;
}

.mainheading {
  font-size: 4.2rem;
  font-weight: 800;
  animation-name: colorchange;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  color: white;
  text-align: center;
  flex-basis: 100%;
  flex-grow: 1;
}

@keyframes colorchange {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
nav {
  position: fixed;
}
nav ul {
  /* list-style-type: none; */
  display: flex;
  /* position: fixed;  */
  /* flex-direction: row;
  flex-wrap: wrap; */
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  margin-right: 20px;
}
.indexcard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2rem;
}

.card {
  border: 1px solid rgb(218, 214, 214);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* width: 30rem; */
  overflow: auto;
  width: calc(33.33% - 20px); /* 33.33% width for each card with some spacing */
  margin: 10px; /* Spacing between cards */
}

.card img {
  height: auto;
  width: 100%;
  max-width: 100%;
  flex: 1;
  object-fit: cover;
}
.card p a {
  text-decoration: none;
  color: var(--coral);
}
.bold {
  font-weight: 700;
}

.card p,
.card figure {
  margin-block-end: 1rem;
}
.logo-frame {
  width: 10rem;
}
.logo-frame img {
  max-width: 100%;
}
.content {
  text-align: center;
}
h3 {
  margin-inline-start: 2rem;
  margin-block-end: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
}
.grid-images {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, auto);  */
  grid-gap: 1rem;
  margin: 3rem;
  grid-template-columns: auto auto auto;
  /* width: 50%; */
}

.card {
  /* Ensure each card takes up the entire grid cell */
  width: 100%;
  margin: 10px;
}
.product-details img {
  width: 30%;
  padding-inline-start: 4rem;
  padding-block-start: 4rem;
}
p {
  font-size: 2rem;
  padding-inline-start: 4rem;
  padding-block-start: 2rem;
}
h1 {
  /* padding-block-start: 4rem;
  padding-inline-start: 4rem; */
  font-size: 4rem;
  align-self: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline-start: 2rem;
  margin-block-end: 3rem;
  gap: 0.5rem;
}
table {
  width: 100%;
  margin-inline-start: 2rem;
  /* text-align: center; */
}
table td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: burlywood;
  color: white;
  border: 1px solid black;
}
button {
  background-color: burlywood;
  color: white;
  border: #fff;
  border-radius: 2px;
  padding: 1rem;
  margin-inline-start: 1rem;
  margin-block-start: 4rem;
  margin-block-end: 2rem;
}
button a {
  color: white;
  padding: 1rem;
  text-decoration: none;
}
.successMessage {
  border: 1px solid green;
  margin-block-start: 2rem;
  padding-block-end: 2rem;
  color: green;
}
.errorMessage {
  border: 1px solid red;
  margin-block-start: 2rem;
  padding-block-end: 2rem;
  color: red;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
}
