<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}">
    <!-- <title>CoffeeShop</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" /> -->
  </head>

  <body>
    <header th:replace="~{index::header}"></header>

    <section>
      <h2>Admin</h2>
      <ul>
        <button><a th:href="@{/admin}">Tuotteet</a></button>
        <button><a th:href="@{/toimittajat}">Toimittajat</a></button>
        <button><a th:href="@{/valmistajat}">Valmistajat</a></button>
        <button><a th:href="@{/osastot}">Osastot</a></button>
        <button><a th:href="@{/allVipCustomers}">Vip-asiakkaat</a></button>
      </ul>
    </section>
    <h3>Lisää uusi tuote:</h3>
    <form th:action="@{/admin}" method="POST" enctype="multipart/form-data">
      <label for="nimi">Tuotteen nimi:</label>
      <input type="text" name="nimi" required />

      <label for="hinta">Tuotteen hinta:</label>
      <input
        type="text"
        name="hinta"
        placeholder="xxx.xx"
        pattern="\d+(\.\d{2})?"
        required
      />

      <label for="kuvaus">Tuotteen kuvaus:</label>
      <textarea rows="5" name="kuvaus" required></textarea>

      <label for="kuva">Tuotteen kuva:</label>
      <input type="file" name="kuva" id="kuva" />

      <label for="osasto">Osasto:</label>
      <select name="osastoid">
        <option th:value="${null}">Valitse osasto</option>
        <option
          th:each="osasto:${osastot}"
          th:value="${osasto.id}"
          th:text="${osasto.nimi}"
        ></option>
      </select>

      <label for="valmistaja">Valmistaja:</label>
      <select name="valmistajaid">
        <option th:value="${null}">Valitse valmistaja</option>
        <option
          th:each="valmistaja:${valmistajat}"
          th:value="${valmistaja.id}"
          th:text="${valmistaja.nimi}"
        ></option>
      </select>

      <label for="toimittaja">Toimittaja:</label>
      <select name="toimittajaid">
        <option th:value="${null}">Valitse toimittaja</option>
        <option
          th:each="toimittaja:${toimittajat}"
          th:value="${toimittaja.id}"
          th:text="${toimittaja.nimi}"
        ></option>
      </select>

      <input type="submit" value="Lisää" />
    </form>

    <table>
      <tr>
        <th>Tuotteen nimi</th>
        <th>Tuotteen hinta</th>
        <th>Tuotteen kuvaus</th>
        <th>Osasto</th>
        <th>Valmistaja</th>
        <th>Toimittaja</th>
        <th></th>
        <th></th>
      </tr>
      <tr th:each="tuote : ${tuotteet}">
        <td th:text="${tuote.nimi}">nimi</td>
        <td th:text="${tuote.hinta}">hinta</td>
        <td th:utext="${tuote.kuvaus}">hinta</td>
        <td th:text="${tuote.osasto?.nimi}">osasto</td>
        <td th:text="${tuote.valmistaja?.nimi}">valmistaja</td>

        <!-- <td>
          <a th:href="${link.linkki}" th:text="${link.linkki}" target="_blank"
            >Linkki</a
          >
        </td> -->
        <td th:text="${tuote.toimittaja?.nimi}"></td>
        <td>
          <button>
            <a th:href="@{/muokkaTuote/{id}(id=${tuote.id})}">muokkaa</a>
          </button>
        </td>
        <td>
          <form th:action="@{/poistaTuote/{id}(id=${tuote.id})}" method="POST">
            <button type="submit">Poista</button>
          </form>
        </td>
      </tr>
    </table>
    <button>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
      </form>
    </button>

    <footer><p>@copyright madhu's cafe</p></footer>
  </body>
</html>
