<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="index::head">
    <!-- <title>CoffeeShop</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" /> -->
  </head>

  <body>
    <header th:replace="index::header"></header>

    <a th:href="@{/kahvilaitteet}">Palaa kahvilaitteet sivulle</a>

    <h1>Laitteen tiedot</h1>
    <div>
      <img th:src="@{'/files/' + ${device.id}}" alt="Device Image" />
      <p>Nimi: <span th:text="${device.nimi}"></span></p>
      <p>Kuvaus: <span th:text="${device.kuvaus}"></span></p>
      <p>Hinta: <span th:text="${device.hinta}"></span></p>
    </div>

    <footer><p>@copyright madhu's cafe</p></footer>
  </body>
</html>
