<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoffeeShop</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  </head>
  <body>
    <header th:fragment="header">
      <figure>
        <img th:src="@{/images/logo.png}" alt="logo" class="logo-frame" />
      </figure>

      <nav>
        <ul>
          <li><a th:href="@{/}">Etusivu</a></li>
          <li><a th:href="@{/kahvilaitteet}">KahviLaitteet</a></li>
          <li><a th:href="@{/kulutustuotteet}">Kulutustuotteet</a></li>
          <li><a th:href="@{/admin}">Admin</a></li>
          <!-- <li><a th:href="@{/vipcustomers}">VIP customers</a></li> -->
        </ul>
      </nav>

      <h1 class="mainheading">Tervetuloa Madhun kahvikauppaan</h1>
    </header>
    <main
      style="
        height: 35rem;
        justify-content: center;
        display: flex;
        align-items: center;
      "
    >
      <a th:href="@{/vipCustomer}" style="font-size: 4rem"
        >Rekisteröidy VIP Asiakkaaksi
      </a>
    </main>

    <footer><p>@copyright madhu's cafe</p></footer>
  </body>
</html>
