<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoffeeShop</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
  </head>

  <body>
    <header th:fragment="header">
      <figure class="logo-frame">
        <img th:src="@{/images/logo.png}" alt="logo" />
      </figure>

      <nav>
        <ul>
          <li><a th:href="@{/}">Etusivu</a></li>
          <li><a th:href="@{/kahvilaitteet}">KahviLaitteet</a></li>
          <li><a th:href="@{/kulutustuotteet}">Kulutustuotteet</a></li>
          <li><a th:href="@{/admin}">Admin</a></li>
          <li><a th:href="@{/vipcustomers}">VIP customers</a></li>
        </ul>
      </nav>

      <h1 class="mainheading">Welcome to Madhu's cafe</h1>
    </header>
    <section class="indexcard">
      <div class="card">
        <figure>
          <img th:src="@{/images/pic1.jpg}" alt="CoffeeDevice" />
        </figure>
        <div class="content">
          <p class="bold">Lorem ipsum dolorsit amet.</p>
          <p class="italic">HTML, CSS, JavaScript</p>
          <p>
            <a th:href="@{url}">See more</a>
          </p>
        </div>
      </div>
      <div class="card">
        <figure>
          <img th:src="@{/images/pic2.jpg}" alt="CoffeeMachine" />
        </figure>
        <div class="content">
          <p class="bold">Lorem ipsum dolorsit amet.</p>
          <p class="italic">UX design layouts</p>
          <p><a th:href="@{url}">See more</a></p>
        </div>
      </div>
      <div class="card">
        <figure>
          <img th:src="@{/images/pic3.jpg}" alt="coffeeMachine" />
        </figure>
        <div class="content">
          <p class="bold">Lorem ipsum dolorsit amet.</p>
          <p class="italic">ReactJS, Node JS</p>
          <p><a th:href="@{url}">See more</a></p>
        </div>
      </div>
    </section>
    <footer><p>@copyright madhu's cafe</p></footer>
  </body>
</html>
