<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}"> </head>

  <body>
    <header th:replace="~{index::header}"></header>
    <h1>Kahvilaitteet</h1>
    <section class="grid-images">
      <div class="card" th:each="tuote : ${kahvilaitteet}">
        <div class="content">
          <figure>
            <img th:src="@{/kuva/{id}(id=${tuote.id})}" alt="kuva" />
          </figure>
          <p th:text="${tuote.nimi}"></p>
          <p th:text="${tuote.hinta}"></p>
          <p>
            <a th:href="@{/tuote/{id}(id=${tuote.id})}">Näytä</a>
          </p>
        </div>
      </div>
    </section>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out" />
    </form>

    <footer><p>@copyright madhu's cafe</p></footer>
  </body>
</html>
