<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}"> </head>

  <body>
    <header th:replace="~{index::header}"></header>
    <h2>Kahvilaitteet</h2>

    <p th:text="'Tuotteita yhteensä: ' + ${totalKahvilaitteet}"></p>

    <form action="#" th:action="@{/searchKahvilaitteet}" method="GET">
      <input
        type="text"
        name="keyword"
        id="keyword"
        size="50"
        th:value="${keyword}"
        placeholder="Etsi laitteet"
        required
      />
      <button type="submit">Hae</button>
      <label for="sortDir">Lajittele hinnan mukaan:</label>
      <select name="sortDir" id="sortDir" onchange="this.form.submit()">
        <option value="asc" th:selected="${sortDir == 'asc'}">Ascending</option>
        <option value="desc" th:selected="${sortDir == 'desc'}">
          Descending
        </option>
      </select>
    </form>

    <section class="grid-images">
      <div class="card" th:each="tuote : ${tuotteet}">
        <div class="content">
          <figure>
            <img th:src="@{/kuva/{id}(id=${tuote.id})}" alt="kuva" />
          </figure>
          <p th:text="${tuote.nimi}"></p>
          <p th:text="${tuote.hinta}"></p>
          <p>
            <a th:href="@{/tuote/{id}(id=${tuote.id})}">Näytä</a>
          </p>
        </div>
      </div>
    </section>

    <div th:if="${currentPage > 0}">
      <a
        th:href="@{/kahvilaitteet(page=${currentPage - 1}, sortDir=${sortDir})}"
      >
        <button class="edellinen">Edellinen</button>
      </a>
    </div>

    <div th:if="${currentPage != null and currentPage < totalPages - 1}">
      <a
        th:href="@{/kahvilaitteet(page=${currentPage + 1}, sortDir=${sortDir})}"
      >
        <button class="seurava">Seuraava</button>
      </a>
    </div>

    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out" />
    </form>

    <footer>
      <p>@copyright madhu's cafe</p>
    </footer>
  </body>
</html>
