<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}"> </head>

  <body>
    <header th:replace="~{index::header}"></header>

    <section class="grid-images">
       <div class="card">
          <figure>
            <!-- <img th:src="@{/images/pic1.jpg}" alt="CoffeeDevice" /> -->
          </figure>
          <div class="content">
            <p class="bold">Lorem ipsum dolorsit amet.</p>
            <p class="italic">HTML, CSS, JavaScript</p>
            <p>
              <a th:href="@{/laitteet}">See more</a>
            </p>
          </div>
        </div>
        <div class="card">
          <figure>
            <img th:src="@{/images/pic2.jpg}" alt="CoffeeMachine" />
          </figure>
          <div class="content">
            <p class="bold">Lorem ipsum dolorsit amet.</p>
            <p class="italic">UX design layouts</p>
            <p><a th:href="@{/laittet}">See more</a></p>
          </div>
        </div>
        <div class="card">
          <figure>
            <img th:src="@{/images/pic3.jpg}" alt="coffeeMachine" />
          </figure>
          <div class="content">
            <p class="bold">Lorem ipsum dolorsit amet.</p>
            <p class="italic">ReactJS, Node JS</p>
            <p><a th:href="@{url}">See more</a></p>
          </div>
        </div>
        <div class="card">
          <figure>
            <img th:src="@{/images/device1.jpg}" alt="coffeeMachine" />
          </figure>
          <div class="content">
            <p class="bold">Lorem ipsum dolorsit amet.</p>
            <p class="italic">ReactJS, Node JS</p>
            <p><a th:href="@{url}">See more</a></p>
          </div>
        </div>
        <div class="card">
          <figure>
            <img th:src="@{/images/device2.jpg}" alt="coffeeMachine" />
          </figure>
          <div class="content">
            <p class="bold">Lorem ipsum dolorsit amet.</p>
            <p class="italic">ReactJS, Node JS</p>
            <p><a th:href="@{url}">See more</a></p>
          </div>
        </div>
        <div class="card">
          <figure>
            <img th:src="@{/images/device3.jpg}" alt="coffeeMachine" />
          </figure>
          <div class="content">
            <p class="bold">Lorem ipsum dolorsit amet.</p>
            <p class="italic">ReactJS, Node JS</p>
            <p><a th:href="@{url}">See more</a></p>
          </div>
        </div>
          <div class="card">
            <figure>
              <img th:src="@{/images/device4.jpg}" alt="coffeeMachine" />
            </figure>
            <div class="content">
              <p class="bold">Lorem ipsum dolorsit amet.</p>
              <p class="italic">ReactJS, Node JS</p>
              <p><a th:href="@{url}">See more</a></p>
            </div>
          </div>
            <div class="card">
              <figure>
                <img th:src="@{/images/device5.jpg}" alt="coffeeMachine" />
              </figure>
              <div class="content">
                <p class="bold">Lorem ipsum dolorsit amet.</p>
                <p class="italic">ReactJS, Node JS</p>
                <p><a th:href="@{url}">See more</a></p>
              </div>
            </div>
              <div class="card">
                <figure>
                  <img th:src="@{/images/device6.jpg}" alt="coffeeMachine" />
                </figure>
                <div class="content">
                  <p class="bold">Lorem ipsum dolorsit amet.</p>
                  <p class="italic">ReactJS, Node JS</p>
                  <p><a th:href="@{url}">See more</a></p>
                </div>
        </div>
      </div>
    </section>
    <footer><p>@copyright madhu's cafe</p></footer>
  </body>
</html>
