<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}">
    <!-- <title>CoffeeShop</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" /> -->
  </head>

  <body>
    <header th:replace="~{index::header}"></header>

    <div th:if="${param.error}">Invalid username and password.</div>
    <div th:if="${param.logout}">You have been logged out.</div>
    <form th:action="@{/login}" method="post">
      <div>
        <label> User Name : <input type="text" name="username" /> </label>
      </div>
      <div>
        <label> Password: <input type="password" name="password" /> </label>
      </div>
      <div><input type="submit" value="Sign In" /></div>
    </form>

    <footer><p>@copyright madhu's cafe</p></footer>
  </body>
</html>
