<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="index::head">
    <!-- <title>CoffeeShop</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" /> -->
  </head>

  <body>
    <header th:replace="index::header"></header>

    <h2>Admin</h2>
    <section>
      <ul>
        <button><a th:href="@{/admin}">Tuotteet</a></button>
        <button><a th:href="@{/toimittajat}">Toimittajat</a></button>
        <button><a th:href="@{/valmistajat}">Valmistajat</a></button>
        <button><a th:href="@{/osastot}">Osastot</a></button>
        <button><a th:href="@{/vipcustomers}">Vip-asiakkaat</a></button>
      </ul>
    </section>
    <h3>Lisää uusi VIP-asiakas:</h3>
    <form th:action="@{/vipcustomers}" method="POST">
      <label for="nimi">Etunimi:</label>
      <input type="text" name="nimi" required />

      <label for="nimi">Sukunimi:</label>
      <input type="text" name="nimi" required />

      <label for="email">Sähköpostiosoite:</label>
      <input type="email" id="email" name="email" required />
      <input type="submit" value="Lisää" />
    </form>

    <table>
      <tr>
        <th>Asiakkaan etunimi</th>
        <th>Asiakkaan sukunimi</th>
        <th>Asiakkaan sähköpostiosoite</th>
        <!-- <th>Tuotteiden määrä valikoimassa</th> -->
        <th></th>
        <th></th>
      </tr>
      <tr th:each="vipcustomer : ${vipcusstomers}">
        <td th:text="${vipcustomer.etunimi}">etunimi</td>
        <td th:text="${vipcustomer.sukunimi}">hinta</td>
        <td th:text="${vipcustomer.email}">sähköpostiosoite</td>
        <!-- <td th:text="${toimittaja.määrä}">Tuotteiden määrä valikoimassa</td> -->

        <!-- <td>
          <a th:href="${link.linkki}" th:text="${link.linkki}" target="_blank"
            >Linkki</a
          >
        </td> -->
        <!-- <td th:text="${toimittajat.toimittaja.nimi}"></td> -->
        <td>
          <button>
            <a th:href="@{/muokkaa/{id}(id=${vipcustomer.id})}">muokkaa</a>
          </button>
        </td>
        <td>
          <button>
            <a th:href="@{/poista/{id}(id=${vipcustomer.id})}">poista</a>
          </button>
        </td>
      </tr>
    </table>

    <footer><p>@copyright madhu's cafe</p></footer>
  </body>
</html>
